.control {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.2rem;
}
.solve {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  text-transform: uppercase;
  .step {
    margin-bottom: 1rem;
    &__pass {
      color: #19cd19;
    }

    &__current {
      color: purple;
      transform: scale(1.10);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border: 6px solid transparent;
        border-top: 12px solid #630263;
        top: -15px;
        left: 10px;
      }
    }
  }
}
.inactive {
  background-color: #4e4e4e;
}
