.card {
  &__row {
    display: flex;
  }

  &__info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-style: italic;
    font-weight: 300;

    .info__row-data {
      font-weight: 500;
    }

    .info__row {
      padding: 0.5rem 1rem;
    }
  }
}
.control {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.2rem;
}
.solve {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  text-transform: uppercase;
  .step {
    margin-bottom: 1rem;
    &__pass {
      color: #19cd19;
    }

    &__current {
      color: purple;
      transform: scale(1.10);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border: 6px solid transparent;
        border-top: 12px solid #630263;
        top: -15px;
        left: 10px;
      }
    }
  }
}
