<div class="total" *ngIf="data$ | async as data">
  <div class="card__info" *ngFor="let info of data">
    <div class="info__row">
      Size : <span class="info__row-data">{{info.size}}</span>
    </div>
    <div class="info__row">
      Uploaded | Solved: <span class="info__row-data">{{info.len}} | {{info.solvableCount | number: "1.0-2"}}</span>
    </div>
    <div class="info__row">
      Average Required Steps : <span class="info__row-data">{{info.totalRequiredSteps / info.len | number: "1.0-2"}}</span> steps
    </div>
     <div class="info__row">
       Average Time : <span class="info__row-data">{{info.totalTime / info.len | number: "1.0-2"}}</span> milliseconds
    </div>
     <div class="info__row">
       Average States : <span class="info__row-data">{{info.totalStates / info.len | number: "1.0-0"}}</span> states
    </div>
     <div class="info__row">
       Average Nodes : <span class="info__row-data">{{info.totalNodes / info.len | number: "1.0-0"}}</span> nodes
    </div>
  </div>
</div>
