<div class="btn__block main__btns">
  <div (click)="heapTest()" class="btn shine">Test</div>
</div>
<div class="btn__block main__btns">
  <label class="btn shine input__hidden">
    Select File
    <input #input (change)="uploadFile(input.files)" type="file" />
  </label>
  <div (click)="solve()" class="btn shine">Solve</div>
  <div (click)="generate(); solve()" class="btn shine">Generate & Solve</div>
  <div (click)="clear()" class="btn shine">Clear</div>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Calculations: {{results.length}}
      </mat-panel-title>
      <mat-panel-description>
       Total information
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-total-information [results]="results"></app-total-information>
  </mat-expansion-panel>

  <mat-expansion-panel *ngFor="let result of results.reverse(); index as i">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Calculation #{{results.length - i}}
      </mat-panel-title>
      <mat-panel-description>
        Get: {{result.done | date: 'HH:mm:ss'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-npuzzle-result [result]="result" [index]="results.length - i"> </app-npuzzle-result>
  </mat-expansion-panel>
</mat-accordion>



