:host {
  display: flex;
  gap: 3rem;
  .panels {
    padding-left: 3rem;
  }
  .winner {
    animation: winner 2s infinite;
  }
  .score {
    font-size: 2rem;
  }
  .control {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    .btn__block {
      gap: 1rem;
      display: flex;
      .btn:hover {
        i {
          animation: fa-spin 2s infinite reverse;
        }
      }
    }
  }
}

@keyframes winner {
  from, to {transform: scale(1)}
  25%,75% {transform: scale(.9)}
  50% {transform: scale(1.1)}

}
