<div class="panels">
  <div class="panel btn" *ngFor="let item of game"
       [ngClass]="{'hidden': item === 0, 'can-move shine': canMove(item), 'complete': solved}"
       (click)="canMove(item) ? move(item): '' " ><span class="text3d">{{item}}</span></div>
</div>
<div class="control">
  <div *ngIf="solved; else score" class="wavetext">
      <span *ngFor="let letter of ('You&nbsp;won&nbsp;in&nbsp;' + steps + '&nbsp;moves!').split('')">{{letter}}</span>
  </div>
  <ng-template #score>
    <div class="score" *ngIf="steps">
      {{steps}} move makes
    </div>
  </ng-template>
  <div class="btn__block">
    <div class="btn shine"  [ngClass]="{'winner': solved }" (click)="reset()">
      <i class="fa fa-refresh" aria-hidden="true"></i> Reset
    </div>
    <div class="btn shine" (click)="restore()">
      <i class="fas fa-undo-alt"></i> Restore
    </div>
    <div class="btn shine" (click)="solveItPlz()">
      <i class="fas fa-biohazard"></i> Solve it plz!
    </div>
  </div>
  <div class="info" *ngIf="targetPuzzle && gamePuzzle">
    <div *ngFor="let algorithm of algorithmsMap">
      {{algorithm[0]}}
      {{algorithm[1].h(gamePuzzle, targetPuzzle)}}
    </div>
  </div>
</div>
