.title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
:host .content {
  position: relative;
}
.sliders {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 1rem;
  .slide {
    position: relative;
    &__text {
      color: #474646;
      font-size: .7rem;
      font-style: italic;
      position: absolute;
      top:-1rem;
      left: -3px;
    }
  }
}
