.wrapper{
  height: 100%;
  .container{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .footer {
    font-size: .8rem;
    color: #4e4e4e;
    text-align: end;
    font-style: italic;
    background: #d5d5d5;
    border-top: 1px solid silver;
    padding: .2rem 0;
  }
  .header {
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
  .content {
    width: 100%;
  }
  .main__content {
    min-height: 90%;
  }
}
